{% extends 'base.html'%}
{% import 'macros.html' as macro %}

<!-- Styles block -->



{% block content %}
<div class='container'>
  <div class="row justify-content-center text-center">
    <div>
      <!-- <form>
        <input type="text" name="movie_query" class="form_control" placeholder='Search for a Movie'>
        <input type="submit" value="Submit" class="btn btn-default">
      </form>
    </div> -->
  
    <div>
      <h1>Recommended For You</h1>
      <ul>
        {{ macro.displayMovieList(recommended)}}
      </ul>
  
    </div>
  
    <div>
      <h1> Popular Movies</h1>
      <ul>
        {{ macro.displayMovieList(popular)}}
      </ul>
    </div>
  
    <div>
      <h1> Upcoming Movies </h1>
      <ul>
        {{ macro.displayMovieList(upcoming)}}
      </ul>
    </div>
  
    <div>
      <h1>Now Showing</h1>
      <ul>
        {{ macro.displayMovieList(now_showing)}}
      </ul>
    </div>
  </div>
</div>

{% endblock %}
