{% macro displayMovieList(movie_list) %}
<div class="row">

  {% for movie in movie_list %}
  <div class="col-lg-6 movie-card">
    <div class="d-flex movie-item justify-content-center align-items-center">
      <div class="col-md-6">
        <img src="{{ movie.poster }}" alt="{{ movie.title }} poster" class="img-responsive">
      </div>

      <div class='col-md-6 moretext'>
        <li class="text-center">
          <h1>{{ movie.title}}</h1>
          <hr>
          <p>{{ movie.overview| truncate(80) }}</p>


          <div class="card-footer">
            <a href="/movie/{{movie.id}}">Check It Out</a>
          </div>
        </li>
      </div>
    </div>
  </div>

  {% endfor %}
</div>

{% endmacro %}


<!-- Displaying reviews macro -->
<!-- {% macro displayReviews(review_list) %}

    {% for review in review_list %}

    <div class="row">

      <div class="col-xs-2 col-sm-2 col-md-4 col-lg-4">
        <h4>Author</h4>
        <p>{{review.user.username}}</p>
      </div>
      <div class="col-xs-10 col-sm-10 col-md-8 col-lg-8">
        <h2> <a href="{{url_for('main.single_review',id=review.id)}}">{{review.movie_title}}</a> </h2>
      </div>
    </div>

    {% endfor %}
{% endmacro %} -->
