<div class="navbar navcustom navbar-inverse" role="navigation">
  <div class="container-fluid">
      <div class="navbar-header d-md-inline-block">
          <a href='/' class="nav-item nav-link title ml-md-3"><img src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fcdn.onlinewebfonts.com%2Fsvg%2Fimg_129504.png&f=1&nofb=1" alt="logo" class="img-fluid"></a>
          <span class='movieday'>Movie Of the Day</span>
      </div>

      <div class="nav navbar-nav navbar-right">
        <ul class="nav d-flex ullisting">
          <li class="lilisting"><a class="nav-item other" href="/">Home</a></li>
        </ul>
      </div>
  </div>
</div>
<hr>