<div class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"> Xtreme Movies </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/action">Action</a></li>
                <li><a href="/anime">Animation</a></li>
                <li><a href="/comedy">Comedy</a></li>
                <li><a href="/horror">Horror</a></li>
                <li><a href="/romance">Romance</a></li>
                <li><a href="/sci-fi">Sci-Fi</a></li>
        </div>
        </div>

    </div>
</div>